:root {
    --bg-color: #ffffff;
    --text-color: #1a1a1f;
    --star-color: #1a1a1f;
    --ld-slider: #ffffff;
    --invite-color: #f3f;
}

[data-theme="dark"] {
    --bg-color: #1a1a1f;
    --text-color: #ffffff;
    --star-color: #ffffff;
    --ld-slider: #0b0a26;
    --invite-color: #3f3;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--text-color);
    list-style: none;
    color: var(--text-color);
    margin: 0;
    overflow: hidden;
}
.nav-list li a {
    color: var(--text-color);
    text-decoration: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 16px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--text-color);
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: var(--ld-slider);
}
input:checked + .slider:before {
    transform: translateX(16px);
}

.star {
    position: fixed;
    background-color: var(--star-color);
    border-radius: 50%;
}
.discord-invite {
    color: var(--invite-color);
    text-decoration: none;
}
